.parallax {
    /* The image used */
    background-image: url("https://i.imgur.com/6MRZZhr.jpg");

    /* Set a specific height */

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.fa-5x {
  color:black;
}
